<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form action="/user/create" method="post">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="second_name">Second Name:</label>
            <input type="text" id="second_name" name="second_name" required>

            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>

            <input type="submit" value="Create User">
        </form>
    </body>
</html>